*{
    background-color: #0d0d0d;
}
.quiz-box {
    flex-direction: column;
  background: #0d0d0d;
  padding: 30px;
  border-radius: 10px;
}

#answer-buttons button {
  width: 100%;
  margin-bottom: 10px;
}
